*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #248f59;
    --secondary-color: #e74c3c;
    --dark-color: #2c3e50;
    --light-color: #f8f9fa;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    line-height: 1.6;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}


.hero-section {
     background-color: #217b56;
     color: #dcdcdc;
     text-align: center;
     padding: 100px 20px;
 }

 .hero-title {
     font-size: 3.5rem;
     font-weight: 700;
     font-family: "Georgia", serif;
     margin-bottom: 1rem;
 }

 .hero-subtitle {
     font-size: 1.5rem;
     font-weight: 500;
     color: #c8c8c8;
 }

 @media (max-width: 768px) {
     .hero-title {
         font-size: 2.5rem;
     }

     .hero-subtitle {
         font-size: 1.2rem;
     }
 }