/* body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  color: #333;
} */








.why-choose {
    background-color: #f5f3f0;
    padding: 60px 20px;
}

.choose-container {
    max-width: 1220px;
    margin: 0 auto;
    text-align: center;
}

.choose-title {
    font-size: 32px;
    color: #248f59;
    margin-bottom: 10px;
}

.choose-subtitle {
    font-size: 18px;
    color: #777;
    margin-bottom: 40px;
}

.choose-cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
}

.choose-card {
    background-color: white;
    border-radius: .75rem;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.choose-card:hover {
    transform: scale(1.03);
}

.choose-icon {
    font-size: 36px;
    /* margin-bottom: 15px; */
    color: #ff7a00;
}

.card-title {
    font-size: 20px;
    color: #248f59;
    margin-bottom: 10px;
}

.card-desc {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
}












/* Small devices (phones) */
@media (max-width: 767px) {
  .about-section {
    flex-direction: column;
    padding: 20px;
  }

  .story-box,
  .mission-box {
    width: 100%;
  }

  .contact-cards {
    grid-template-columns: 1fr;
  }

  .choose-cards {
    grid-template-columns: 1fr;
  }
}

/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 1023px) {
  .about-section {
    flex-direction: column;
    padding: 30px;
  }

  .story-box,
  .mission-box {
    width: 100%;
  }

  .contact-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .choose-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
